{% load static %}
<header class="header">
    <link rel="stylesheet" href="{% static 'mainapp/styles/header.css' %}">
    <div class="header__wrapper">
        <a class="header__logo" href="#">
            <img class="logo__image" src="{% static 'mainapp/images/logo.jpg' %}" alt="ATM Logo" height="40" width="40">
            <p class="logo__title">Динамическое название</p>
        </a>
        <div class="header__actions">
            <button id="callButton" class="actionButton">Оставить заявку</button>
        </div>
    </div>
</header>