{% load static %}
<div id="modal" class="modal" role="dialog" aria-labelledby="modalTitle" hidden>
    <link rel="stylesheet" href="{% static 'mainapp/styles/modal.css' %}">
    <div id="modalContent" class="modal__content">
        <div class="modal__header">
            <p class="modal__title">Оставить заявку</p>
            <button class="closeButton" id="closeModal" aria-label="Закрыть модальное окно">&times;</button>
        </div>
        <div class="modal__body">
            <form id="callForm" method="post">
                {% csrf_token %}
                <div class="form__fields">
                    <div class="form__inputContainer">
                        <label for="name">Имя:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form__inputContainer">
                        <label for="email">Электронная почта:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form__inputContainer">
                        <label for="phone">Номер телефона:</label>
                        <input type="text" id="phone" name="phone" value="+7" required>
                    </div>
                    <div class="form__inputContainer">
                        <label for="message">Сообщение:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                </div>
                <button type="submit">Отправить</button>
            </form>
            <p class="requestSuccess" hidden>Заявка отправлена. Спасибо!</p>
            <p class="requestOnError" hidden>Произошла ошибка отправки заявки. Попробуйте ещё раз.</p>
        </div>
    </div>
</div>
