{% load static %}
<div class="table-container">
    <link rel="stylesheet" href="{% static 'mainapp/styles/table.css' %}">
    <h3 class="section-title">{{ table.table_title }}</h3>
    <table>
        <thead>
        <tr>
            {% for header in table.table_headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.table_rows %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>