.header {

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.logo__title {
    color: #1b1b1b;
    font-size: 36px;
}

@media (max-width: 767px) {
    .header__wrapper {
        padding-block: 10px;
    }
    .logo__title {
        font-size: 24px;
    }
}